<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="title-image main-body">
                <h3 class="ng-binding">{{titleView}}</h3>
            </div>
        </div>
        <div class="main-body">
            <form name="uploadImageForm">
                <div class="image-middleContainer">
                    <label>Name: </label>
                    <input type="text" class="form-control" float= "left" name="name" ng-model="name" placeholder="Name" maxlength="50" required>
                    <span class="error" ng-show="uploadImageForm.name.$error.required && submitted">Required!</span>
                </div>
                <div class="image-middleContainer">
                    <label>Description: </label>
                    <textarea type="text" class="form-control" float= "left" name="description" ng-model="description" placeholder="Description" maxlength="500"></textarea>
                </div>
            </form>
            <div class="footer-image">
                <button type="submit" ng-click="save()" class="btn-mob action-form footer-button">Save</button>
                <button type="button" ng-click="cancel()" class="btn-mob white action-form footer-button">Cancel</button>
            </div>
        </div>
    </div>
</div>