<div class="container">
    <div class="row">
        <div class="col-md-2" ng-include="'partials/sidebar.html'" ng-show='sidebar'></div>
        <div class="col-md-10">
                <div class="title-image main-body">
                    <h3 class="ng-binding">{{titleView}}</h3>
                </div>
                 <div>
                     <a href="#/add-contributor/"> + Add</a>
                </div>
        <table class="table table-hover main-body">
                <thead class="main-body">
                <th class="col-md-2">Name</th>
                <th class="col-md-2">Description</th>
                <th class="col-sm-2"> </th>
                </thead>
                <tbody class="main-body">
                <tr class="row" ng-repeat="contributor in contributors">
                    <td class="col-md-2">{{contributor.name}}</td>
                    <td class="col-md-2">{{contributor.description}}</td>
                    <td class="col-md-2"><a href="#/edit-contributor/{{contributor.id}}">Edit</a></td>
                </tr>
                </tbody>
           </table>

        </div>
    </div>

</div> <!-- /container -->