<div class="container">
    <div class="row">
        <div class="title-image">
            <h3 class="ng-binding">{{titleView}}</h3>
        </div>
        <div class="main-body">
            <form name="uploadImageForm">
                <div class="image-middleContainer">
                    <label>Name: </label>
                    <input type="text" class="form-control" float= "left" name="name" ng-model="name" placeholder="Name" maxlength="50" required>
                    <span class="error" ng-show="uploadImageForm.name.$error.required && submitted">Required!</span>
                </div>
                <div class="image-middleContainer">
                    <label>Description: </label>
                    <textarea type="text" class="form-control" float= "left" name="description" ng-model="description" placeholder="Description" maxlength="500"></textarea>
                </div>
                <div class="image-middleContainer">
                    <label>Preview</label>
                    <div class="image-logotypeContainer">
                        <div class="image-container">
                            <img class="default-image" ng-src="../styles/images/default_picture.jpg" ng-hide="imageSrc"/>
                            <img class="image-preview" ng-src="{{imageSrc}}" ng-hide="!imageSrc"/>
                        </div>
                        <div class="image-browse-image-container">
                            <input id="uploadFile" name="uploadFile" class="image-name" placeholder="Choose File" disabled="disabled" value="{{imageName}}"/>
                            <div class="fileUpload btn btn-mob btn-primary">
                                <span>Upload</span>
                                <input type="file" file-input="files" id="imageType" name="imageSelected" accept="image/png, image/jpeg" multiple ng-file-select="onFileSelect($file)"  class="upload ng-pristine ng-valid" required>
                                <span class="error" ng-show="uploadImageForm.imageSelected.$error.required && submitted">Required!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-middleContainer">
                    <label>Tags: </label>
                    <tags-input name="tags" ng-model="tags"></tags-input>
                </div>
                <div class="footer-image">
                    <button type="submit" ng-click="save()" class="btn-mob action-form footer-button">Save</button>
                    <button type="button" ng-click="cancel()" class="btn-mob white action-form footer-button">Cancel</button>
                </div> <!-- /container -->
            </form>
        </div>
    </div>
</div>