<div class="container">
            <div>
                <h3 class="title-image ng-binding">{{titleView}}</h3>
            </div>
            <div class="row-fluid">
                <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
            </div>
        <div class="main-body">
            <div class="row">
                <div class="col-md-6" ng-show="showimageSrc">
                    <!-- Preview Image -->
                        <label>Preview</label>
                            <div class="image-logotypeContainer">
                                <div class="image-container">
                                    <img class="default-image" ng-src="../styles/images/default_picture.jpg" ng-hide="imageSrc"/>
                                    <img class="image-preview" ng-src="{{imageSrc}}" ng-hide="!imageSrc"/>
                                </div>
                                <div class="box-upload">
                                    <input id="uploadFile" name="uploadFile" class="image-upload" placeholder="Choose File" disabled="disabled" value="{{imageName}}"/>
                                    <div class="fileUpload btn btn-mob btn-primary">
                                        <span>Upload</span>
                                        <input type="file" file-input="files" id="imageType" name="imageSelected" accept="image/png, image/jpeg" multiple ng-file-select="onFileSelect($file)"  class="upload ng-pristine ng-valid">
                                        <span class="error" ng-show="uploadImageForm.imageSelected.$error.required && submitted">Required!</span>
                                    </div>
                                </div>
                            </div>

                 </div>

                <div class="col-md-6">

                    <label>Name: </label>
                    <input type="text" class="form-control" name="name" ng-model="name" placeholder="Name" maxlength="50" required>
                    <span class="error" ng-show="">Required!</span>

                    <label>Description: </label>
                    <textarea type="text" class="form-control" name="description" ng-model="description" placeholder="Description" maxlength="500"></textarea>

                    <!-- Tags-->
                    <label>Tags: </label>
                    <tags-input name="tags" ng-model="tags"></tags-input>

                    <div class="image-middleContainer" ng-show="size">
                        <label>Size: </label> {{size | bytes}}
                    </div>
                    <!-- Contributors -->
                    <div class="row">
                        <div class="col-md-9 image-middleContainerContributor">
                            <label>Contributor:</label>
                            <input type="text" ng-model="contributorSelected" placeholder="Start typing.." typeahead="contributor for contributor in contributors" class="form-control">

                        </div>

                    </div>
                    <!-- Albums -->
                    <div class="row">
                        <div class="col-md-6 image-middleContainerContributor">
                            <label>Album:</label>
                            <input type="text" ng-model="albumSelected"  placeholder="Start typing.." typeahead="album for album in albums" class="form-control">
                        </div>

                    </div>

                    <div class="footer-image">
                        <button type="submit" ng-click="save()" class="action-form footer-button">Save</button>
                        <button type="button" ng-click="cancel()" class="action-form footer-button">Cancel</button>
                    </div>
                 </div>


             </div>             <!-- End ROW-->



        </div> <!-- end Main Body-->
</div> <!-- end Container -->
