<div class="navbar navbar-inverse navbar-fixed-my">
    <div class="container-home">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MS Images</a>
        </div>
        <div class="navbar-search">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="word" placeholder="Enter Keyword(s)">
                   <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="search(word)" type="button">Search</button>
                   </span>
            </div>
        </div>
     </div>
</div>
<nav class="navbar navbar-default " role="navigation">
        <div class="container-home">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="#/image-upload">Upload</a></li>
                    <li><a href="#/images">Images</a></li>
                    <li><a href="#/about">About</a></li>
                    <li><a href="#/contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
</nav>
