<div class="navbar navbar-inverse navbar-fixed-my">
    <div class="container-home">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MS Images</a>
        </div>
        <div class="navbar-search">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="word" placeholder="Enter Keyword(s)">
                   <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="search(word)" type="button">Search</button>
                   </span>
            </div>
        </div>
     </div>
</div>
<nav class="navbar navbar-default " role="navigation" ng-controller="navCtrl">
        <div class="container-home">
            <div ng-repeat="item in items">
                <ul class="nav navbar-nav">
                    <li><a href="{{item.link}}">{{item.menu}}</a></li>
                </ul>
            </div>
        </div>
</nav>
